@model IEnumerable<MyStoreLab.Models.HangHoaVM>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.MaHh)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TenHh)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Hinh)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DonGia)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Loai)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.MaHh)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TenHh)
				</td>
				<td>
					<img src="~/Hinh/HangHoa/@item.Hinh" style="height:80px" />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DonGia)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Loai)
				</td>
			</tr>
		}
	</tbody>
</table>
